/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----STYLING----- */

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9faf8;
}

a {
  color: #f9faf8;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
}

/* ----HEADER----- */

header {
  background-color: #3b5249;
  color: #f9faf8;
  padding-bottom: 100px;
}

/* HEADER NAV BAR  */

.nav-container {
  display: flex;
  align-items: center;
  margin-left: 100px;
  padding-bottom: 75px;
  padding-top: 25px;
}

.nav-container > h3 {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bolder;
  display: inline-block;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 50px;
  margin-right: 200px;
}

/* HEADER INFO */

header h1 {
  font-size: 48px;
  font-weight: bolder;
}

header p {
  font-size: 18px;
  font-weight: lighter;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  margin-left: 75px;
}

.info h1,
.info p {
  margin-bottom: 20px;
}

.head-img {
  height: auto;
  width: 600px;
  margin-right: 200px;
}

.top-button {
  background-color: #bfcba8;
  color: #f9faf8;
  font-size: 14px;
  font-weight: lighter;
  padding: 5px 20px;
  border: #f9faf8 solid 2px;
  border-radius: 5px;
}

.top-button:hover {
  background-color: #1f2937;
  color: #f9faf8;
  cursor: pointer;
  transition: 0.4s;
}

/* -----TOP CONTAINER----- */

.top-container {
  margin-top: 50px;
  text-align: center;
}

.top-container h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.imgs,
.quotes {
  display: flex;
  justify-content: space-around;
}

.art-imgs {
  height: 500px;
  width: 300px;
  border: #bfcba8 solid 10px;
  border-radius: 7px;
}

.quotes {
  color: #1f2937;
  margin-bottom: 100px;
  margin-top: 30px;
  font-weight: lighter;
}

/* -----MID CONTAINER----- */

.mid-container {
  background-color: #e5e7eb;
  padding: 100px;
}

.mid-container p {
  font-size: 36px;
  font-weight: lighter;
  text-align: center;
}

.mid-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
}

/* -----BOT CONTAINER----- */

.bot-container {
  background-color: #bfcba8;
  color: #e5e7eb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 50px auto;
  border-radius: 10px;
  padding: 40px 30px;
}

.bot-container h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bot-container button {
  padding: 10px 20px;
  border-radius: 10px;
}

.sub-sub {
  color: #e5e7eb;
  display: block;
  font-size: 18px;
  font-weight: lighter;
}

/* -----Footer----- */

footer {
  background-color: #3b5249;
  color: #e5e7eb;
  font-weight: lighter;
  padding: 30px 40px;
  text-align: center;
}
